extends layout

block content
  h1 #{title}

  p Book Title: #{bookinstance.book.title}
  p Imprint: #{bookinstance.imprint}
  p Status: #{bookinstance.status}
  p Due Back: #{bookinstance.due_back_formatted}

  p Do you really want to delete this Book Instance?

  form(method='POST' action='')
    input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id)
    button.btn.btn-primary(type='submit') Delete